**__pycache__
**catboost_info
**.c
**.so
**.html
**build
**.DS_STORE
**.egg-info
**.vscode

py39/
output/
jobs/logs/
jobs/errors/

dist/
notes/
results/

/data/**/*.npy
/data/**/*.arff
/data/**/*.csv
/data/**/*.zip
/data/**/*.data
/data/**/*.names
/data/**/*.txt
/data/**/*.pdf
/data/**/*.xls
/data/**/*.R
/data/**/*.ods
/data/**/*.xlsx
