# C extensions
cython==0.29.23

# data processors
xlrd==2.0.1  # reading excel
numpy==1.21.0
scikit-learn==0.24.2
catboost==0.26
lightgbm==3.2.1
xgboost==1.4.0
torch==1.9.0

# visualizers
tqdm==4.61.2
matplotlib==3.4.2
